@media  screen and (min-width: 574px){ 
    .content{
        font-size: .7rem;
    }
    h2{
        font-size: .85rem !important;
    }
    
    header{
        background-color: black;
    }
    
    .light header{
        background-color: #f1f1f1;
        
    }
    
    .felipeWebDev{
        margin-left: 1.6rem;
        margin-right: 4.5rem;
    }
    
    header nav a{
        margin-right: .3rem;
        margin-left: 1.3rem;
    }
    
    .themeChanger{
        font-size: .6rem;
    }
    
    .slider{
        width: 1.6rem;
        height: .9rem;
    }
    
    .switcher{
        width: .5rem;
        height: .5rem;
        top: .2rem;
    }
    .descriptionText{
        margin-left: 4.2rem;
        margin-right: 20rem;
    }
    .button1 {
        margin-left: 19rem;
        font-size: .6rem;
        padding: 1.5rem .5rem;
    }
    .blur{
        margin-left: 19rem;
        width: 12rem;
    }
    .light .blurLight{
        margin-left: 19rem !important;
        width: 12rem;
    }
    .techonologies{
        margin-left: 4.2rem;
        margin-top: 4.7rem;
    }
    .technologiesText{
        width: 22rem;
        margin-right: 3rem;
    }
    .projects{
        max-width: 100%;
        margin-bottom: 3.2rem;
        margin-top: 4rem;
    }

    .carousel-caption h5{
    margin-bottom: 2rem;
    }

    .projectText{
        display: flex !important;
        background-color: #404040c9;
        border-radius: .1rem;
        justify-content: center !important;
        max-width: 100%;
        padding: .3rem .1rem !important;
    }

    .skills{
        margin-top: 8rem;
        margin-left: 4.2rem;
        margin-right: 4.2rem
    }

    .skill{
        margin-left: 1.5rem !important;
        margin-right: 0;
        width: 8.3rem;
        height: 9.7rem;
    }

    .whiteCircle{
        margin-left: 2.65rem !important;
    }

    .svg1{
        left: 2.85rem;
    }
    .svg2{
        left: 3rem;
    }
    .svg3{
        left: 3.05rem;
    }

    .skillName{
        margin-left: 1.5rem;
        font-size: .7rem;

    }

    .skillDescription{
        margin-left: .6rem !important;
        margin-right: .6rem !important;
        font-size: .59rem;
    }

    .softSkills{
        margin-left: 2rem;
    }

    .languages{
        margin-left: 2.4rem;
    }

    .whoAmI{
        margin-left: 7rem;
        margin-right: 6rem;
        margin-top: 6rem;
    }

    .textButton{
        width: 7rem;
    }
    
    .textMask.active .paragraph{
        font-size: .665rem;
        width: 10rem;
    }

    .arrow{
        left: 5.8rem;
        top:.6rem;
    }

    .professionalContacts {
        max-width: 15rem;
    }

    .professionalContacts h2{
        font-size: .85rem;
    }
}


@media  screen and (min-width: 635px){
    .technologiesImg{
        margin-left: 2rem;
        margin-right: 3rem;
    }
}


@media  screen and (min-width: 768px){
    header .felipeWebDev a{
        margin-left: 2rem;
        margin-right: 6rem;
    }
    header nav a{
        margin-left: 2rem;
    }

    .themeChanger{
        margin-top: 1rem;
    }
    .themeChanger p{
        margin-right: 2.5rem;
    }

    .profile{
        width: 5rem;
        margin-left: 3rem;
    }

    .logo{
        width: 7rem !important;
        margin-left: 2rem !important;
    }

    .light .lightLogo{
        width: 7rem !important;
        margin-left: 2rem !important;
    }

    .descriptionText{
        margin-left: 7rem;
        margin-right: 28rem;
    }

    .technologies{
        margin-left: 3.3rem;
        margin-top: 9rem !important;
    }

    .technologiesText{
        width: 15rem;
        margin-right: 0;
        margin-left: 2rem;
    }

    .carousel-control-next-icon{
        width: 2rem !important;
    }
    .carousel-control-prev-icon{
        width: 2rem !important;
    }

    .skills{
        margin-left: 5rem !important;
    }
    .skill{
        margin-left: 3rem !important;
        margin-right: 2rem;
        width: 8.5rem;
        height: 10.5rem;
    }
    .languages p{
        margin-left: 2rem !important;
    }

    .textMask{
        left: -1.8rem;
        bottom: -2.5rem;
        margin-bottom: 7rem;
        max-width: 3rem;
        margin-right: 6rem;
        margin-left: 9rem;
    }
    

    .whoAmI{
        margin-left: 3rem;
        margin-right: 3rem;
    }


    .textMask.active .paragraph {
        font-size: .665rem;
        max-width: 100rem !important;
        width: 18rem;
        margin-left: -1rem;
        margin-top: -.1rem;
        padding-top: 1.5rem !important;
      }

}

@media screen and (min-width: 944px){
    .projects{
        max-width: 50%;
    }
    
    .navigation{
        margin-left: 1.5rem;
    }

    .themeChanger{
        margin-right: 10.5rem;
        margin-bottom: -2rem;
    }

    .profile{
        margin-left: 6rem;
        width: 5.5rem;
    }

    .descriptionText{
        margin-left: 10rem;
        margin-right: 31rem;
        margin-top: 3rem;
    }

    .button1{
        margin-left: 23rem;
        margin-top: 3rem;
    }

    .blur{
        margin-left: 23rem;
        margin-top: 5rem;
    }
    .light .blurLight{
        margin-left: 23rem !important;
        margin-top: 5rem !important;        
    }

    header .felipeWebDev a{
        margin-left: 0;
        font-size: 1.2rem;
    }

    header nav a{
        font-size: .9rem;
    }

    .themeChanger p{
        margin-right: -.8rem;
    }

    .carousel-control-next-icon{
        right: 10rem !important;
    }

    .projects{
        max-width: 60% !important;
        margin-left: 12.5rem;
    }

    .skills{
        margin-left: 6.5rem !important;
    }

    .skill{
        width: 10.5rem;
        height: 13rem;
    }

    .skillName{
        margin-left: 2rem;
        font-size: 1rem;
    }

    .softSkills{
        margin-left: 2.5rem;
    }

    .languages{
        margin-left: 2.5rem !important;
    }

    .skillName.languages{
        margin-left: 3rem !important;
    }

    .whiteCircle{
        margin-left: 3.85rem !important;
        width: 3rem;
        height: 3rem;
    }

    .svg1{
        margin-left: 1.35rem;
        width: 2.3rem;
    }

    .svg2{
        margin-left: 1.34rem;
        width: 2rem;
    }

    .svg3{
        margin-left: 1.3rem;
        width: 2rem;
    }

    .skillDescription{
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        font-size: .8rem;
    }


    .textMask{
        left: -1.8rem;
        bottom: -2.5rem;
        margin-bottom: 7rem;
        max-width: 3rem;
        margin-right: 6rem;
        margin-left: 9rem;
    }
    

    .whoAmI{
        margin-left: 3rem;
        margin-right: 3rem;
    }


    .textMask.active .paragraph {
        font-size: .665rem;
        max-width: 100rem !important;
        width: 18rem;
        margin-left: -1rem;
        margin-top: -.1rem;
        padding-top: 1.5rem !important;
      }

      .professionalContacts{
        max-width: 17rem;
      }

      .contact a{
        margin: .5rem 2.3rem;
      }

    }

@media screen and (min-width: 1200px){
    .felipeWebDev a {
        margin-left: 0;
        font-size: 1.9rem !important;
        margin-right: 4.5rem;
      }

     header nav a {
        font-size: 1.18rem;
        margin-left: 3rem;
      }

      .logo {
        margin-top: 4rem;
        width: 10rem !important;
        margin-left: 2.5rem !important;
      }

      .profile {
        margin-left: 9rem;
        width: 7rem;
        margin-top: 1rem;
      }


      .themeChanger p {
        margin-right: 1rem;
        font-size: .9rem;
      }

      .slider {
        width: 2.2rem;
        height: 1.2rem;
        margin-right: .5rem;
      }
      .toggleInput:checked~ .slider .switcher {
        left: 1.2rem;
      }

      .switcher {
        width: .75rem;
        height: .75rem;
        top: .2rem;
      }

      .descriptionText {
        margin-left: 12rem;
        margin-right: 41rem;
        margin-top: 4rem;
        font-size: 1.1rem;
      }

      .button1 {
        margin-left: 30rem;
        margin-top: 3rem;
        font-size: .8rem;
        padding: 2.4rem 1rem;
      }

      .blur {
        margin-left: 30rem;
        margin-top: 5rem;
        width: 18rem;
      }

      .description{
        margin-bottom: 14rem;
      }

      
      .technologiesText {
        width: 15rem;
        margin-right: 5rem;
        margin-left: -4.5rem;
      }

      .technologiesText h2 {
        font-size: .65rem;
        font-size: 1.3rem !important;
      }

      .technologiesText p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: .95rem;
      }

      .techLogo{
        width: 4rem;
        margin-left: .4rem;
      }

      .cssLogo {
        width: 6rem;
        margin-left: .3rem;
      }

      .bootstrapLogo{
        width: 4rem;
        margin-left: 1.2rem;
      }

      .technologiesImg {
        margin-left: 2rem;
        margin-right: 1.8rem;
      }


}    